body {
  background-color:	black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.first-p {
  font-size: 40px;
  text-align: justify;
  margin-left: 500px;
  margin-top: 150px;
}

.second-p {
  text-align: justify;
  margin-left: 500px;
  margin-right:100px;
  margin-bottom: 200px;
}

.first-div {
  background-color: #212529;
  color: white;
}

.project {
  align-items: center;
  justify-content: center;
  display: flex;
}

.projectbox {
  width:100%;
  max-width: 300px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 10px 2px gray;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 50px;
  text-align: left;
}

.skillbox {
  width:100%;
  max-width: 150px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 10px 2px gray;
  margin-top: 30px;
  margin-left: 50px;
  padding: 2px;
  text-align: center;
}

.mail {
  margin-right: 200px;
}

.phone {
  margin-right: 250px;
}

.location {
  margin-right: 270px;
  margin-bottom: 50px;
}